{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome to NFQ service departament</h5>
                <p class="card-text">If you want to get an appointment with our specialist click the button below this text</p>
                <a href="#" class="btn btn-success">Reserve new appointment with specialist</a>
            </div>
        </div>
    </div>
{% endblock %}